/* src/components/cards.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1800px;
  margin: 0 auto;
  z-index: -1;
  
}

/* Cards Section */
.cardsSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row on full screen */
  gap: 20px;
 
}

.card {
  background-color: #b52424;
  border-radius: 10px;
 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #0f0d0d;
}

.cardText {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

/* Map Section */
.mapSection {
  flex: 1;
  min-height: 400px;
  max-width: 100%;
}

.mapPlaceholder {
  width: 100%;
  height: 100%;
}

/* Responsive Design */
@media (min-width: 1280px) {
  .container {
    flex-direction: row;
  }

  .cardsSection {
    width: 70%; /* Takes up 70% of the container */
  }

  .mapSection {
    width: 30%; /* Takes up 30% of the container */
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .cardsSection {
    grid-template-columns: repeat(2, 1fr); /* Display 2 cards per row */
  }

  .mapSection {
    width: 100%; /* Full width */
    margin-top: 20px; /* Map below the cards */
  }
}

@media (max-width: 360px) {
  .cardsSection {
    grid-template-columns: 1fr; /* Display 1 card per row */
  }

  .cardText {
    font-size: 14px;
  }

  .mapSection {
    width: 100%; /* Full width */
    margin-top: 20px; /* Map below the cards */
  }
}
